.container-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

thead {
    background-color: #5a6773;
    color: #FFFFFF;
    font-size: 0.9rem;
}

tr td {
    font-size: 0.8rem;
    text-align: center;
}


tr td:first-of-type 
{
    width: 10%;
}

tr td:last-child
{
    font-size: 0.7rem;
    text-align: justify;
    width: 40%;
    text-transform: capitalize;
}

.table-head {
    font-size: 0.8rem;
    font-weight: bold;
}














.drop-down {
    display: block;
    font-size: 0.9rem;
    font-family: sans-serif;
    font-weight: 700;
    color: #5a6773;
    line-height: 1.1;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 0.3px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    /* border-radius: .5em; */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .6em top 50%, 0 0;
    background-size: .60em auto, 100%;
}
.drop-down::-ms-expand {
    display: none;
}
.drop-down:hover {
    border-color: #888;
}
.drop-down:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 1px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.drop-down option {
    font-weight:normal;
}


@media screen and (max-width: 800px) {
    .table th, 
    .table td {
        font-size: 11px;
        /* font-weight: normal; */
    }

    tr td:first-of-type 
    {
        width: 13%;
    }

    tr td:last-child
    {
        width: 30%;
    }

}

@media screen and (max-width: 500px) {
    .table th, 
    .table td {
        font-size: 7px;
        /* font-weight: normal; */
    }

    tr td:last-child
    {
        font-size: 7px;
    }

}